{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head></head>

<style>
h2.b {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">BLT Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.username == "system_admin" or system_access %}
      <li><a href="{% url 'admin' %}">System Admin</a></li>
      {% endif %}
      <li class="active"><a href="{% url 'account' %}">Profile</a></li>
      <li><a href="{% url 'employee_directory'%}">Directory</a></li>
      <li><a href="{% url 'onboarding_training_docs' %}">Training</a></li>
      <li><a href="{% url 'training_center' %}">Documents</a></li>
      <li><a href="{% url 'absence_request' %}">Absences</a></li>
      <li><a href="{% url 'certifications_maintained' %}">Certifications</a></li>
      <li><a href="{% url 'performance_reviews' %}">Performance</a></li>
      <li><a href="{% url 'timesheet_home' %}">Timesheets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

 <div class="container-fluid">
<h2 class='b'>Employee Profile</h2>

  <main>
    <p>You can view your personal information below.</p>
    <em>If you require changes to your personal information please contact the business manager (see 
      <a href="{% url 'employee_directory' %}">employee directory</a>).</em>
    
    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2'>
        <hr>
       </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Relevant Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Username</td><td>{{ user.username }}</td><td></td>
        </tr>
        <tr>
          <td>Email</td><td><a href= "mailto:{{ user.email }}">{{ user.email }}</a></td><td></td>
        </tr>
        <tr>
          <td>Full name</td><td>{{ user.first_name }} {{ user.last_name }}</td><td></td>
        </tr>
        <tr>
          <td>Location</td><td>{{ user.profile.location }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Position</td><td>{{ user.profile.position }}</td><td></td>
        </tr>
        <tr>
          <td>Manager</td><td>{{ user.profile.manager }}</td><td></td>
        </tr>
        <tr>
          <td>Start date</td><td>{{ user.profile.start_date }}</td><td></td>
        </tr>
        <tr>
          <td>Birth date</td><td>{{ user.profile.birth_date }}</td>
          <td>{% if user.profile.birth_date %}{% else %}
            <a href="{% url 'add_birth_date' %}">Add birth date</a>{% endif %}
          </td>
        </tr>
        
        <tr>
          <td>Required Certifications</td>
          <td>{% for cert in user.profile.certs.all %}{{ cert }}<br/>{% endfor %}</td>
          <td><a href="{% url 'certifications_maintained' %}">Manage certifications</a></td>
        </tr> 

        <tr>
          <td>Document acknowledgement required</td>
          <td>{% for read in user.profile.read_req.all %}{{ read }}<br/>{% endfor %}</td>
          <td>
            <a href="{% url 'onboarding_training_docs' %}">Manage acknowledgement requirements</a>
          </td>
        </tr>
        <tr>
          <td>Document submission required</td>
          <td>{% for submit in user.profile.submit_req.all %}{{ submit }}<br/>{% endfor %}</td>
          <td>
            <a href="{% url 'onboarding_training_docs' %}">Manage submission requirements</a>
          </td>
        </tr>
      </tbody>
    </table>          
  </main>

</div>

</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}