.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.red_txt {
    color: red; 
}
.failureMessage {
    color: #FF0000;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
}