{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
	<h1>Add your birth date</h1>
  <p>Your birth year will only be viewable by yourself and the system admin.</p>
  <em>Please make sure you enter your birthday correctly, you cannot edit it once it is set.</em>
    <form method="POST" class="add-emp-group">
        {{birth_date|bootstrap}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right">Save</button>
    </form>  
</html>

{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}