{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1>System Administrator</h1>
    <p>Access all modules avaliable to the system administrator here.</p>
    <div>
      <li><a href="{% url 'add_employee_group' %}">Add a new employee group</a></li>
      <li><a href="{% url 'employee_group' %}">Review employee groups</a></li>
    </div>

    </body>
    </html>
{% endblock %}