{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1>System Management</h1>
    <p>Access all modules avaliable to the system administrator here.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Module</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Employee Directory</td>
            <td>
              <div>
                  <li><a href="{% url 'signup' %}">Create new employee account</a></li>
                  <li><a href="{% url 'employee_directory_edit' %}">View & edit complete employee information</a></li>
              </div>
            </td>
          </tr>
          <tr>
            <td>Document Centre</td>
            <td>
              <div>
                  <li><a href="{% url 'training_material' %}">Add new documents</a></li>
                  <li><a href="{% url 'delete_training_doc' %}">Remove expired documents</a></li>
              </div>
            </td>
          </tr>
          <tr>
            <td>Certifications</td>
            <td>
              <div>
                  <li><a href="{% url 'managed_certs' %}">Add & edit system managed certifications</a></li>
                  <li><a href="{% url 'employee_required_certs' %}">View & edit employee certification requirements</a></li>
                  <li><a href="{% url 'review_cert_requests' %}">Review certification requests</a></li>
                  <li>View expiring certifications</li>
              </div>
            </td>
          </tr>
          <tr>
            <td>Company locations</td>
            <td>
              <div>
                  <li><a href="{% url 'add_company_info' %}">Add, view & edit company location</li>
              </div>
            </td>
          </tr>
      </tbody>
    </table>

    </body>
    </html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}