<!DOCTYPE html>
{% load static %}
<html>
  <head>
    {% block title %}<title>BLT HR System</title>{% endblock %}
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  </head>

{% if user.is_authenticated %}

{% else %}
<div class = "page-header">
    <h2 style="text-align:center">
      <small>BLT Construction HR Portal</small>
    </h2>
</div>

{% endif %}

{% block content %}{% endblock %}

</body>
</html>

