{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

<h2>System managed certifications</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Expiration (yrs)</th>
        </tr>
      </thead>
      <tbody>
      {% for c in cert_info %}
      <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.description }}</td>
        {% if c.expiration_yrs == 0 %}
          <td>No expiration</td>
        {% else %}
            <td>{{ c.expiration_yrs }}</td>
        {% endif %}
      </tr>
      {% empty %}
        <tr>
          <td colspan="3">No certifications added.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}