{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

<h2>Edit Onboarding / Training Document</h2>

<form method="post">
  {% csrf_token %}
  <div class='row'>
    <div class="col-lg-6">
      {{ doc_form.name|bootstrap }}
    </div>
    <div class="col-lg-6">
      {{ doc_form.doc|bootstrap }}
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-6">
      <button type="submit" class="btn btn-primary pull-left">Save changes</button>
    </div>
  </div>
</form>

    {% if error_msg %}
    <br>
    <div class='row'>
      <div class='col-lg-12'>
        <p class="text-danger">The document: {{document_name}}, cannot be assigned to a new onboarding / training document because it is currently being used by other document. 
          You can edit the documents assigned <a href="{% url 'manage_onboarding_docs' %}">here</a>.</p>
      </div>
    </div>
    {% endif %}

</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}