{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1>Manage Employee Groups</h1>
    <p>Each employee is part of a group with required training materials, certifications and performance review standards.</p>
    {% if emptyCourses %}
    <p class="failureMessage">Courses have not been uploaded for the upcoming term yet. Return home and upload courses.</p>
    {% else %}
    <table>
      <tr>
          <th>Employee Group</th>
          <th>Description</th>
      </tr>
      {% for item in employee_group %}
      <tr> 
          <td>{{ item.group_name }}</td>
          <td>{{ item.group_description }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    </body>
    </html>
{% endblock %}