{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

<h1>Certification requirements by employee</h1>

  <main>
    <p>Below is a list of employee certification requirements for each employee. You can edit the certification requirements from here. To view information on certifications, click <a href="{% url 'certifications' %}">here.</a></p>

    <table class="table">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Required certifications</th>
          <th>Edit certification requirement</th>
        </tr>
      </thead>
      <tbody>
        {% for i in users %}
          <tr>
            <td>{{ i.get_full_name }}</td>
            <td>{% for cert in i.profile.certs.all %}{{ cert }}<br/>{% endfor %}</td>
            <td class="tg-yw4l"><a href="blt_hr_system/edit_required_certs/{{i.id}}">Edit</a></td>
          </tr> 
        {% empty %}
          <tr>
            <td colspan="3">No certification requirements added.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>          
  </main>

</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}