{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

<h2>View & edit employee information</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Full name</th>
          <th>Location</th>
          <th>Position</th>
          <th>Manager</th>
          <th>Start Date</th>
          <th>Status</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
      {% for i in users %}
      <tr>
        <td>{{ i.username }}</td>
        <td><a href= "mailto:{{ i.email }}">{{ i.email }}</a></td>
        <td>{{ i.get_full_name }}</td>
        <td>{{ i.profile.location }}</td>
        <td>{{ i.profile.position }}</td>
        <td>{{ i.profile.manager }}</td>
        <td>{{ i.profile.start_date }}</td>
        {% if i.is_active %}<td>Active</td>
        {% else %}<td>Inactive</td>{% endif %}
        <td class="tg-yw4l"><a href="blt_hr_system/edit_employee_info/{{i.id}}">Edit</a></td>
      </tr>
        {% empty %}
          <tr>
            <td colspan="3">No employees added.</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>

</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}