{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>


  <body>
	<h1>System Managed Certifications</h1>

  <p>Add system managed certifications. The certifications will include a </p>
    <form method="POST" class="add-emp-group">
        {{cert_form|bootstrap}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right">Save</button>
    </form>  
</html>

  <br></br>

    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2'>
        <hr>
       </div>
    </div>

    <p>View system managed certifications.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Description</th>
          <th>Expiration (yrs)</th>
        </tr>
      </thead>
      <tbody>
        {% for cert_info in cert_info %}
          <tr>
            <td>{{ cert_info.name }}</td>
            <td>{{ cert_info.description }}</td>
            <td>{{ cert_info.expiration_yrs }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No certifications added.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}