{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>


  <body>
	<h1>Managed Onboarding / Training Documents</h1>

  <p>Please provide a list of onboarding / training documents that are required for either submission or acknowledgement by employees.</p>
  <p>Documents can be uploaded <a href="blt_hr_system/training_material.html">here</a>.</p>
    <form method="POST" class="add-emp-group">
        {{doc_form|bootstrap}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right">Save changes</button>
    </form>  
</html>

  <br></br>

    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2'>
        <hr>
       </div>
    </div>

    <p>View onboarding / training documents.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Training / Onboarding Document</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in doc_info %}
          <tr>
            <td>{{ doc.name }}</td>
            <td><a href="{{ doc.doc.upload.url }}" target="_blank">{{ doc.doc }}</a></td>
            <td class="tg-yw4l"><a href="blt_hr_system/edit_onboarding_docs/{{doc.id}}">
                Edit document information</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No onboarding / training documents added.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}