{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <style>
h2.b {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">BLT Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.username == "system_admin" %}
      <li><a href="{% url 'admin' %}">System Admin</a></li>
      {% endif %}
      <li><a href="{% url 'account' %}">Profile</a></li>
      <li><a href="{% url 'employee_directory'%}">Directory</a></li>
      <li><a href="{% url 'onboarding_training_docs' %}">Training</a></li>
      <li><a href="{% url 'training_center' %}">Documents</a></li>
      <li><a href="{% url 'absence_request' %}">Absences</a></li>
      <li><a href="{% url 'certifications_maintained' %}">Certifications</a></li>
      <li><a href="{% url 'performance_reviews' %}">Performance</a></li>
      <li class="active"><a href="{% url 'timesheet_home' %}">Timesheets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  <head></head>

  <body>
  	<div class="container-fluid">

  	</div>
    
  </body>

</html>

{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}