{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head></head>

  <style>
h2.b {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">BLT Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.username == "system_admin" %}
      <li><a href="{% url 'admin' %}">System Admin</a></li>
      {% endif %}
      <li><a href="{% url 'account' %}">Profile</a></li>
      <li><a href="{% url 'employee_directory'%}">Directory</a></li>
      <li><a href="{% url 'onboarding_training_docs' %}">Training</a></li>
      <li><a href="{% url 'training_center' %}">Documents</a></li>
      <li><a href="{% url 'absence_request' %}">Absences</a></li>
      <li class="active"><a href="{% url 'certifications_maintained' %}">Certifications</a></li>
      <li><a href="{% url 'performance_reviews' %}">Performance</a></li>
      <li><a href="{% url 'timesheet_home' %}">Timesheets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

  <body>
    <div class="container-fluid">
    <h2 class='b'>Review your certifications</h2>
    <p>All certifications must be submitted and approved here. 
      The list of all possible certifications can be found <a href="{% url 'certs' %}">here</a>.</p>

    <div class="row">
      <div class="col-sm-3">
          <table class="table">
            <thead>
              <tr><th>Certification Requirement</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>{% for cert in user.profile.certs.all %}{{ cert }}<br/>{% endfor %}</td>
              </tr>
            </tbody>
          </table>
          <a href="{% url 'certification_request' %}"><button class="btn btn-primary pull-left">Submit certification</button></a>
          <br></br>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2'><hr></div>
        </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-8">
        <h4>Missing, expired and expiring (within 30 days)</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Certification</th>
                <th>Date Aquired</th>
                <th>Date Expired</th>
              </tr>
            </thead>
            <tbody>
              {% for cert in missing_certs %}
              <tr>
                <td>{{ cert }}</td>
                <td>Missing or pending approval</td>
                <td>n/a</td>
              </tr>
                {% empty %}
                {% if exp_certs.count == 0 %}
                  <tr><td colspan="3">No certifications missing or expiring.</td></tr>
                {% endif %}
              {% endfor %}
              {% for exp in exp_certs %}
              <tr>
                <td><a href="{{ exp.upload.url }}" target="_blank">{{ exp.cert_name.name }}</a></td>
                <td>{{ exp.acq_date }}</td>
                <td>{{ exp.exp_date }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <div class='row'>
          <div class='col-lg-8 col-lg-offset-2'><hr></div>
        </div>
        <h4>Certifications pending approval</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Certification</th>
                <th>Date Aquired</th>
                <th>Date Expired</th>
              </tr>
            </thead>
            <tbody>
              {% for pending in pending_certs %}
              <tr>
                <td><a href="{{ pending.upload.url }}" target="_blank">{{ pending.cert_name.name }}</a></td>
                <td>{{ pending.acq_date }}</td>
                {% if pending.exp_date|date:"Y-m-d" == no_expire|date:"Y-m-d" %}
                <td>No expiration date</td>
                {% else %}
                <td>{{ pending.exp_date }}</td>
                {% endif %}
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">No certifications pending approval.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <div class='row'>
          <div class='col-lg-8 col-lg-offset-2'><hr></div>
        </div>
        <h4>Currently maintained certifications</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Certification</th>
                <th>Date Aquired</th>
                <th>Date Expired</th>
              </tr>
            </thead>
            <tbody>
              {% for curr in curr_certs %}
              <tr>
                <td><a href="{{ curr.upload.url }}" target="_blank">{{ curr.cert_name.name }}</a></td>
                <td>{{ curr.acq_date }}</td>
                {% if curr.exp_date|date:"Y-m-d" == no_expire|date:"Y-m-d" %}
                <td>No expiration date</td>
                {% else %}
                <td>{{ curr.exp_date }}</td>
                {% endif %}
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">No certifications maintained.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>

  </body>
</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}