{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1>Submit certification requests</h1>
    <p>All certifications will be submitted for approval here. 
      A list of all system managed certifications can be found <a href="{% url 'certs' %}">here</a>.</p>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

    <div class='row'>
      <div class="col-lg-8">
        {{cert_request.cert_name|bootstrap}} 
      </div>
      <div class="col-lg-4">
        {{cert_request.acq_date|bootstrap}}
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-6">
        {{cert_request.upload|bootstrap}}
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-6">
        <button type="submit" class="btn btn-primary pull-left">Submit for review</button>
      </div>
    </div>
    </form>

  </body>
</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}