{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head></head>

<h2>Edit system managed certifications</h2>

    <form method="POST">
        {% csrf_token %}
        <div class='row'>
          <div class="col-lg-4">
            {{certs_form.name|bootstrap}}
          </div>
          <div class="col-lg-8">
            {{certs_form.description|bootstrap}}
          </div>
        </div>
        <div class='row'>
          <div class="col-lg-4">
            {{certs_form.expiration_yrs|bootstrap}}
          </div>
        </div>
        <div class='row'>
          <div class="col-lg-12">        
            <button type="submit" class="btn btn-primary pull-left">Save changes</button>
          </div>
        </div>
    </form>

  </form>

</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}