{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Review certification requests</h1>
    <p>Certifications submitted for approval are found here. Click into each certification to 
      determine if it should be approved or rejected. 
      The list of all possible certifications can be found <a href="{% url 'certs' %}">here</a>.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Certification for review</th>
          <th>Submitted by</th>
          <th>Date Acquired</th>
          <th>Expiration Date</th>
          <th>Submit review</th>
        </tr>
      </thead>
      <tbody>
        {% for r in pending_approval %}
        <tr>
          <td><a href="{{ r.upload.url }}" target="_blank">{{ r.cert_name.name }}</a></td>
          <td>{{ r.employee_id.get_full_name }}: 
            <a href= "mailto:{{ r.employee_id.email }}">{{ r.employee_id.email }}</a></td>
          <td>{{ r.acq_date }}</td>
          {% if r.exp_date|date:"Y-m-d" == no_expire|date:"Y-m-d" %}
          <td>No expiration date</td>
          {% else %}
          <td>{{ r.exp_date }}</td>
          {% endif %}
          <td class="tg-yw4l"><a href="certifications/review_cert/{{r.id}}">Review</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}