{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>

  <style>
h2.b {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">BLT Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.username == "system_admin" or system_access %}
      <li><a href="{% url 'admin' %}">System Admin</a></li>
      {% endif %}
      <li><a href="{% url 'account' %}">Profile</a></li>
      <li><a href="{% url 'employee_directory'%}">Directory</a></li>
      <li><a href="{% url 'onboarding_training_docs' %}">Training</a></li>
      <li><a href="{% url 'training_center' %}">Documents</a></li>
      <li><a href="{% url 'absence_request' %}">Absences</a></li>
      <li><a href="{% url 'certifications_maintained' %}">Certifications</a></li>
      <li class="active"><a href="{% url 'performance_reviews' %}">Performance</a></li>
      <li><a href="{% url 'timesheet_home' %}">Timesheets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

  <head></head>
  <body>

    <div class="container-fluid">
      <h2 class='b'>Manager Performance Review Centre</h2>
      <div class="col-lg-3">
        <p class="text-info">Employee List.</p>
        {% for emp in emp_list %}
          <ul>
            <li>{{emp.user__first_name}} {{emp.user__last_name}}</li>
          </ul>
        {% endfor %}
      </div>
       <div class="col-lg-9">
      <p class="text-info">Add reviews for submitted performance reviews.</p>
      <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Employee</th>
          <th>Employee Upload</th>
          <th>Employee Uploaded at (EST)</th>
          <th>Add Review</th>
        </tr>
      </thead>
      <tbody>
        {% for perf in outstanding_perfs %}
          <tr>
            <td>{{perf.year}}</td>
            <td>{{ perf.employee__user__first_name }} {{ perf.employee__user__last_name }}</td>
            <td><a href="https://blt-construction.s3.amazonaws.com/{{perf.upload}}" target="_blank">
              {{ perf.upload_name }}</a></td>
            <td>{{ perf.uploaded_at }}</td>
            <td class="tg-yw4l"><a href="performance/manager_perf_review/{{perf.id}}">Add</a></td>          
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No performance reviews need to be reviewed.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>

      <p class="text-info">Add reviews for submitted performance reviews.</p>
      <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Employee</th>
          <th>Employee Upload</th>
          <th>Employee Uploaded at (EST)</th>
          <th>Manager</th>
          <th>Manager Upload</th>
          <th>Manager Uploaded at (EST)</th>
        </tr>
      </thead>
      <tbody>
        {% for perf in completed_perfs %}
          <tr>
            <td>{{perf.year}}</td>
            <td>{{ perf.employee__user__first_name }} {{ perf.employee__user__last_name }}</td>
            <td><a href="https://blt-construction.s3.amazonaws.com/{{perf.upload}}" target="_blank">
              {{ perf.upload_name }}</a></td>
            <td>{{ perf.uploaded_at }}</td>
            <td>{{ perf.employee__manager__user__first_name }} {{ perf.employee__manager__user__last_name }}</td>
            <td><a href="https://blt-construction.s3.amazonaws.com/{{perf.manager_upload}}" target="_blank">
              {{ perf.manager_upload_name }}</a></td>
            <td>{{ perf.manager_uploaded_at }}</td>            
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No performance reviews submitted.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
      </body>
    </html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}