{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>

<style>
h2.b {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">BLT Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.username == "system_admin" %}
      <li class="active"><a href="{% url 'admin' %}">System Admin</a></li>
      {% endif %}
      <li><a href="{% url 'account' %}">Profile</a></li>
      <li><a href="{% url 'employee_directory'%}">Directory</a></li>
      <li><a href="{% url 'onboarding_training_docs' %}">Training</a></li>
      <li><a href="{% url 'training_center' %}">Documents</a></li>
      <li><a href="{% url 'absence_request' %}">Absences</a></li>
      <li><a href="{% url 'certifications_maintained' %}">Certifications</a></li>
      <li><a href="{% url 'performance_reviews' %}">Performance</a></li>
      <li><a href="{% url 'timesheet_home' %}">Timesheets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

  <head></head>

  <body>
    <div class="container-fluid">
	<h2 class = "b">Add location information</h2>
  <p>Add information such as location that the system will maintain.</p>
    <form method="POST" class="add-emp-group">
         {% csrf_token %}
         <div class='row'>
          <div class="col-lg-5">
            {{company_info_form.location|as_crispy_field:"bootstrap"}}
          </div>
        </div>
         <div class='row'>
          <div class="col-lg-5">
            <button type="submit" class="btn btn-primary pull-left">Save Location</button>
          </div>
        </div>
    </form>  
</html>

  <br></br>

    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2'>
        <hr>
       </div>
    </div>

    <p class="text-info">View & edit company locations for BLT below.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Edit Location</th>
        </tr>
      </thead>
      <tbody>
        {% for company_info in company_info %}
          <tr>
            <td>{{ company_info.location }}</td>
            <td class="tg-yw4l"><a href="admin/edit_company_info/{{company_info.id}}">Edit</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No company information created.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}