{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
	<h1>Add location information</h1>
  <p>Add information such as location that the system will maintain.</p>
    <form method="POST" class="add-emp-group">
         {% csrf_token %}
         <div class='row'>
          <div class="col-lg-7">
            {{company_info_form.location|bootstrap}}
          </div>
        </div>
         <div class='row'>
          <div class="col-lg-7">
            <button type="submit" class="btn btn-primary pull-left">Save Location</button>
          </div>
        </div>
    </form>  
</html>

  <br></br>

    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2'>
        <hr>
       </div>
    </div>

    <p class="text-info">View & edit company locations for BLT below.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Edit Location</th>
        </tr>
      </thead>
      <tbody>
        {% for company_info in company_info %}
          <tr>
            <td>{{ company_info.location }}</td>
            <td class="tg-yw4l"><a href="admin/edit_company_info/{{company_info.id}}">Edit</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No company information created.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}