{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head></head>

<style>
h2.b {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">BLT Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.username == "system_admin" %}
      <li class="active"><a href="{% url 'admin' %}">System Admin</a></li>
      {% endif %}
      <li><a href="{% url 'account' %}">Profile</a></li>
      <li><a href="{% url 'employee_directory'%}">Directory</a></li>
      <li><a href="{% url 'onboarding_training_docs' %}">Training</a></li>
      <li><a href="{% url 'training_center' %}">Documents</a></li>
      <li><a href="{% url 'absence_request' %}">Absences</a></li>
      <li><a href="{% url 'certifications_maintained' %}">Certifications</a></li>
      <li><a href="{% url 'performance_reviews' %}">Performance</a></li>
      <li><a href="{% url 'timesheet_home' %}">Timesheets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

  <body>
    <div class="container-fluid">
    <h2 class="b">System Management</h2>
    <p>Access all modules avaliable to the system administrator here.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Module</th>
          <th>Actions</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>System Admin</td>
            <td>
              <div>
                  <li><a href="{% url 'add_company_info' %}">Add, view & edit company locations</li>
              </div>
            </td>
            <td></td>
          </tr>
        <tr>
            <td>Directory</td>
            <td>
              <div>
                  <li><a href="{% url 'signup' %}">Create new employee account</a></li>
                  <li><a href="{% url 'employee_directory_edit' %}">View & edit complete employee information</a></li>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Training</td>
            <td>
              <div>
                  <li><a href="{% url 'manage_onboarding_docs' %}">
                      Add & edit traing document categories</a></li>
                  <li><a href="{% url 'onboarding_requirement' %}">
                      View & edit employee training requirements</a></li>
                  <li><a href="{% url 'review_ack_docs' %}">
                      Review outstanding acknowledgements & update submissions of documents</a></li>
                  <li><a href="{% url 'review_sub_docs' %}">
                      Review completed acknowledgements & submissions of documents</a></li>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Documents</td>
            <td>
              <div>
                  <li><a href="{% url 'training_material' %}">Add new documents</a></li>
                  <li><a href="{% url 'delete_training_doc' %}">View & delete documents</a></li>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Absences</td>
            <td>
              <div>
                  <li><a href="{% url 'add_company_holidays' %}">Add & view company holidays</a></li>
                  <li><a href="{% url 'review_absence_request' %}">Review all pending requests for holidays</a></li>
                  <li><a href="{% url 'view_absence_requests' %}">View absences</a></li>
              </div>
            </td>
            <td></td>
          <tr>
            <td>Certifications</td>
            <td>
              <div>
                  <li><a href="{% url 'managed_certs' %}">Add & edit system managed certifications</a></li>
                  <li><a href="{% url 'employee_required_certs' %}">View & edit employee certification requirements</a></li>
                  <li><a href="{% url 'review_cert_requests' %}">Review certification requests</a></li>
                  <li>Export missing & 30-day expiring certifications</li>
                  <li>Export list of obtained certifications</li>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Performance</td>
            <td>
              <div>
                  <li><a href="{% url 'add_perf_cats' %}">Add & edit performance categories</a></li>
                  <li><a href="{% url 'add_edit_perf_cat' %}">
                    View & edit performance categories for each employee</a></li>
                  <li><a href="{% url 'add_perf_forms' %}">
                    View & add performance forms to categories</a></li>
                  <li><a href="{% url 'outstanding_perf_forms' %}">
                    View outstanding employee and manager performance reviews</a></li>
                  <li><a href="{% url 'view_perf_history' %}">View performance review history</a></li>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Timesheets</td>
            <td>
              <div>
                  <li><a href="{% url 'jobs_upload' %}">Upload jobs descriptions and IDs to be used in the timesheets</a></li>
                  <li><a href="{% url 'admin_timesheet_home' %}">
                      Update the list of office staff who require timesheets</a></li>
                  <li><a href="{% url 'export_timesheets' %}">Export completed timesheets</a></li>
                  <li><a href="{% url 'edit_timesheet_home' %}">Create & edit completed timesheets</a></li>
                  <li><a href="{% url 'timesheet_status' %}">View and export missing timesheets</a></li>
              </div>
            </td>
            <td></td>
          </tr>
      </tbody>
    </table>
  </div>

    </body>
    </html>
{% else %}
  <h2>You are not logged in</h2>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}