{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html>
  <head></head>

<body>
  <div class="container-fluid">

    <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary pull-right">Login</button>
        </form>
    </div>
    </div>
    <div class='row'>
    <div class="col-sm-3">
    </div>
        <div class='col-lg-6'>
        <hr>
       </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
    </div>
        <div class="col-sm-6">
         <p>If this is your first time logging in or you have forgetten your password you should <a href="{% url 'password_reset' %}">reset password</a></p>
    </div>


</div>
</body>
{% endblock %}