<!DOCTYPE html>
<html>
  <head></head>
  
  {% if validlink %}
  <div class="container-fluid">
    <div class="col-sm-6">
    <h2>Change password</h2>
    <form method="post">
      {% csrf_token %}
      {{form|bootstrap}}
      <button type="submit" class="btn btn-primary pull-right">Change password</button>
    </form>
  </div>
  </div>
  {% else %}
  <div class="container-fluid">
    <br></br>
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  </div>
  {% endif %}